.title {
  top: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-family: second;
  color: #fca311;
  font-size: 30px;
}  

.navbar {
  margin-top: 50px;
  a {
    display: block;
    margin: 15px 20%;
    padding: 10px;
    border: 5px solid #fca311;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #ccc;
    transform: skewX(-5deg);
    text-align: center;
    font-family: second;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
  }
}

#add-book {
  margin: 30px 10px;
  padding: 50px 20px 30px;
  border: 5px solid #fca311;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.5;
  .field {
    display: grid;
    grid-template-columns: 30% 65%;
    column-gap: 5%;
    margin-bottom: 10px;
    input {
      height: 30px;
      border: 1px dotted #fff;
      border-radius: 5px;
    }
    select {
      height: 35px;
      border: 1px solid #fff;
      border-radius: 5px;
      background: #ffffff;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
    width: 100px;
    height: 30px;
    border: 1px solid #fca311;
    border-radius: 5px;
    background: #fca311;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
}

.swipe {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  .swipe-each {
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    max-width: 300px;
    height: 85vh;
    max-height: 570px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }
}
.flip {
  margin: 3px;
}

.report {
  color: #fff;
}