#add-book {
  margin: 30px 40px;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.5;
  .field {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 10px;
    input {
      height: 30px;
    }
    select {
      height: 30px;
    }
  }
}
