.main-page .navbar {
  border: none;
  a {
    display: block;
    margin: 15px 20%;
    padding: 10px;
    border: 5px solid #fca311;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #ccc;
    transform: skewX(-5deg);
    text-align: center;
    font-family: second;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
  }
}

.title {
  text-align: center;
  text-decoration: none;
  font-family: second;
  color: #fca311;
}

#add-book {
  margin: 30px 10px;
  padding: 50px 20px 30px;
  border: 5px solid #fca311;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.5;
  .field {
    display: grid;
    grid-template-columns: 30% 65%;
    column-gap: 5%;
    margin-bottom: 10px;
    input {
      height: 30px;
      border: 1px dotted #fff;
      border-radius: 5px;
    }
    select {
      height: 35px;
      border: 1px solid #fff;
      border-radius: 5px;
      background: #ffffff;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
    width: 100px;
    height: 30px;
    border: 1px solid #fca311;
    border-radius: 5px;
    background: #fca311;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
}

.navbar {
  border: 1px solid #fff;
  font-size: 20px;
  a {
    display: block;
    color: #fff;
    text-decoration: none;
  }
}