@font-face {
  font-family: mainFont;
  src: url(./assets/fonts/MPLUSRounded1c-Medium.ttf) format('truetype');
  font-family: second;
  src: url(./assets/fonts/MPLUSRounded1c-ExtraBold.ttf) format('truetype');
}

body {
  width: 90%;
  margin: 0 auto;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    // 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    // sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #14213d;
  font-family: mainFont;
}

// code {
  // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //   monospace;
// }

.title {
  text-align: center;
  text-decoration: none;
  font-family: second;
  color: #fca311;
}

.navbar a {
  display: block;
  margin: 15px 20%;
  padding: 10px;
  border: 5px solid #fca311;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px #ccc;
  transform: skewX(-5deg);
  text-align: center;
  font-family: second;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
}