@font-face {
  font-family: mainFont;
  src: url(./assets/fonts/MPLUSRounded1c-Medium.ttf) format('truetype');
  font-family: second;
  src: url(./assets/fonts/MPLUSRounded1c-ExtraBold.ttf) format('truetype');
}

body {
  width: 90%;
  margin: 0 auto;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    // 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    // sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #14213d;
  font-family: mainFont;
}

// code {
  // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //   monospace;
// }

.App h1{
  text-align: center;
  font-family: second;
  color: #fca311;
}